body {
margin: 0px;
}
/*Colors*/
#red {
  background-color: #FF0000;
}
#blue {
  background-color: #0076FF;
}
#green {
  background-color: #6CFF00;
}
/*End Colors*/
.main {
  width: 375px;
  height: 100vh;
  background-color: #FFFFFF;
  display: grid;
  margin: auto;
}
.container {
  /*border: 1px solid black;*/
  width: 302px;
  height: 614px;
  display: grid;
  margin: auto;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
