body {

}
/*Colors*/
#red {
  color: #FF0000;
}
#blue {
  color: #0076FF;
}
#green {
  color: #6CFF00;
}
/*End Colors*/
.main{
  width: 375px;
  height: 667px;
  background-color: grey;
  display: grid;
  margin: auto;
}
.container {
  border: 1px solid black;
  width: 302px;
  height: 614px;
  display: grid;
  margin: auto;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
